.Snippet {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    margin: 10px;
}

.Snippet.javascript {
    background-color: #f0db4f;
}

.Snippet.python {
    background-color: #AED1FF;
}

.Snippet.python svg {
    color: #325D80;
}

.Snippet button {
    display: block;
    margin: 0 auto;
}

.Snippet .ace_editor {
    height: 20vh;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Snippet svg {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
}
